.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.headerLogo {
  align-items: center;
  color: inherit;
  display: flex;
  font-family: 'Khula', 'Helvetica', 'sans-serif';
  font-size: 30px;
  justify-content: center;
  margin-bottom: 12px;
  padding-right: 15px;
  text-decoration: none;
  width: 100%;
}

.headerImg {
  height: 62px;
  margin: -6px 0 0; /* weird font stuff makes us use negative top margin for good alignment */
}

.headerMobileMenuBtn {
  float: left;
}

.headerNav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.headerNav > a {
  color: #52555A;
  font-family: 'Khula', 'Helvetica', 'sans-serif';
  font-weight: bold;
  text-decoration: none;
}

@media(min-width: 1024px) {
  .header {
    justify-content: space-between;
    padding-bottom: 2.25em;
    padding-top: 2.25em;
  }

  .headerLogo, .headerNav {
    width: auto;
  }

  .headerNav > a {
    display: inline-block;
    margin: 0 25px 12px;
    padding: 5px 5px 0 5px;
  }
}